*{
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(#C2E59C, #64B3F4);
}
.navbar-brand {
    font-family: 'Merienda', cursive;
    font-size: 21px;
}
#navbarNav {
    font-family: 'Montserrat';
}
/* profile page */

.col {
    width: 732px;
    height: 252px;
    background: linear-gradient(180deg, #FFA2A2 0%, rgba(138, 243, 250, 0.67) 100%);
    border-radius: 7px;
}
.col img {
    width: 192px;
    height: 195px;
    float: left;
    border-radius: 15px;
    
}
.col p {
    text-align: justify;
}
.row {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 194px;
}




