* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(180deg, #7792f3 0%, rgba(221, 41, 41, 0.83) 100%);
  min-height: 3000px;
}

.navbar-brand {
  font-family: "Merienda", cursive;
  font-size: 21px;
}
#navbarNav {
  font-family: "Montserrat";
}
/* profile page */

.col {
  width: 732px;
  height: 252px;
  background: linear-gradient(180deg, #7ef8e2 0%, rgba(70, 173, 248, 0.81) 100%);
  border-radius: 7px;
}
.col img {
  width: 192px;
  height: 195px;
  float: left;
  border-radius: 15px;
}
.col p {
  text-align: justify;
}

/* experience section */

.col-6 h1 {
  font-size: 25px;
  color: black;
}
.col-6 p {
  text-align: justify;
}
.col h1 {
  font-size: 25px;
  font-family: "Montserrat";
}
.card img {
  width: 103px;
  height: 95px;
}
.card {
  border-radius: 15px;
}
